# Data types

# #Numbers

In [ ]:
a = 23
print(a, "is of type", type(a))

b = 103.65
print(b, "is of type", type(b))

c = 1356+224j
print(c, "is complex number?", isinstance(c,complex))

In [ ]:
d = 23.5
print(d, "is complex number?", isinstance(23.5,complex))

In [ ]:
#long int number
e = 1234567890123456789987987879879798789
print(e)

#long float value is truncated
f = 0.123456789012345678945462679
print(f)

# Strings

In [ ]:
# defining strings in Python
# all of the following are equivalent
my_string = 'hello pythonista!'
print(my_string)

my_string = "hello pythonista!"
print(my_string)

my_string = '''hello pythonista!'''
print(my_string)

# triple quotes string can extend multiple lines
my_string = """Hello, all, 
                         hello pythonista!"""
print(my_string)

In [ ]:
#Accessing string characters in Python
str = 'pythonista'  
print('str = ', str)

print('str[0] = ', str[0]) #0123456789 --> -3-2-1

print('str[-1] = ', str[-1])

print('str[1:5] = ', str[1:6])

print('str[5:-2] = ', str[5:-2])

print(str[10]) #should be in range

In [ ]:
print(str[2.5]) #no float options

In [ ]:
my_string ='premanand'
my_string[6] = 9

In [ ]:
del my_string[1]

In [ ]:
del my_string # shift + deleted 
print(my_string) #my_string deleted

In [ ]:
# Python String Operations
str1 = 'Hello'
str2 ='World!'

# using +
print('str1 + str2 = ', str1 + str2)

# using *
print('str1 * 3 =', str1 * 4)

In [ ]:
#two literals together - concatenation
'prem''anand'

In [ ]:
#using () - concatenation
name = ('prem''anand')
name

# List

In [ ]:
#list 
#list_data = [data types]

In [ ]:
#list - elaborate meaning
my_list =[]

#list with numbers
my_list_num = [2,3,4,5]

#list with mixed numbers
my_list_mix_numbers = [2,3.5,4,56.8,2+5j]

#list with strings
my_list_strings = ['hi','how','are','you','?']

#list with mixed data types
my_list_mixed_data = ['we',2022, 5.0,2+6j, 2654789]

print(my_list)
print(my_list_num)
print(my_list_mix_numbers)
print(my_list_strings)
print(my_list_mixed_data)

In [ ]:
#list - mutable 
greetings= ['happy', 'newyear', 'wishes']
greetings[1] = '2022'
print(greetings)

In [ ]:
#how to extract a particular or set of items from list
list_num = [2,4,5,6,7,32,57,9,265,89,65,41,653]

# extracting first value - 2
print("list_num[0] = ", list_num[0])

# extracting 4,5,6 values alone
print("list_num[1:4] = ", list_num[1:4])

# extracting last 5 values
print("list_num[8:] = ", list_num[-5:])

In [ ]:
#nested list
my_list_nested = ["python", ['feb', 2022], [2]]
my_list_nested

In [ ]:
#extract from nested list
# Nested List
my_list_n_list = ["Happy", [2, 0, 2, 2]]
print(my_list_n_list)

# Nested indexing - happy
print(my_list_n_list[0][1])

#nested indexing - 2022
print(my_list_n_list[1][1])

# Error! Only integer can be used for indexing
print(my_list_n_list[4.0])

In [ ]:
# List slicing in Python

my_list_slicing = ['p','y','t','h','o','n','i','s','t','a']
print(my_list_slicing)
                   
# elements from index 2 to index 4
print(my_list_slicing[2:5])

# elements from index 5 to end
print(my_list_slicing[5:])

# elements beginning to end
print(my_list_slicing[:])

In [ ]:
#Add/Change List Elements
# Correcting mistake values in a list
my_num = [2, 4, 6, 8]
print(my_num)

# change the 1st item    
my_num[0] = 1            

print(my_num)

# change 2nd to 4th items
my_num[1:4] = [3, 5, 7]  

print(my_num)

In [ ]:
#list adding one items in a time or adding multiple items simultaneously
# Appending and Extending lists in Python
list_1 = [20, 658, 65, 9]
print(list_1)
list_1.append(657)

print(list_1)

list_1.extend([945, 611, 1093])

print(list_1)

In [ ]:
#list - concatenation by using + symbol
# Concatenating and repeating lists
list_2 = ['hi','welcome','2022']

print(list_2 + [4,1,2022])


#* symbol makes the list repeative multiple times
print(["be happy! and make others happy"] * 3)

In [ ]:
#we can insert one item at a desired location by using the method insert()
# Demonstration of list insert() method
list_3 = [5, 6, 7, 3]
list_3.insert(1,3)

print(list_3)

list_3[2:2] = [5, 7]

print(list_3)

In [ ]:
# Deleting list items
my_list = ['p', 'r', 'o', 'b', 'l', 'e', 'm']
print(my_list)

# delete one item
del my_list[2]
print(my_list)

# delete multiple items
del my_list[1:5]

print(my_list)

# delete the entire list
del my_list

# Error: List not defined
print(my_list)

In [ ]:
#list - pop(), clear() and remove() functions
my_list = ['p','r','o','b','l','e','m']
my_list.remove('p')

# Output: ['r', 'o', 'b', 'l', 'e', 'm']
print(my_list)

# Output: 'o'
print(my_list.pop(1))

# Output: ['r', 'b', 'l', 'e', 'm']
print(my_list)

# Output: 'm'
print(my_list.pop()) #last term

# Output: ['r', 'b', 'l', 'e']
print(my_list)

my_list.clear()

# Output: []
print(my_list)

# Tuple

In [ ]:
# Different types of tuples

# Empty tuple
my_tuple = ()
print(my_tuple)

# Tuple having integers
my_tuple = (1, 2, 3)
print(my_tuple)

# tuple with mixed datatypes
my_tuple = (1, "Hello", 3.4)
print(my_tuple)

# nested tuple
my_tuple = ("mouse", [8, 4, 6], (1, 2, 3))
print(my_tuple)

In [ ]:
#tuple packing 
my_tuple = 3, 4.6, "dog"
print(my_tuple)

# tuple unpacking is also possible
a, b, c = my_tuple

print(a)      # 3
print(b)      # 4.6
print(c)      # dog

In [ ]:
my_tuple = (1)
print(type(my_tuple))  

# Creating a tuple having one element
my_tuple = ("hello",)
print(type(my_tuple))  

# Parentheses is optional
my_tuple = "hello"
print(type(my_tuple))

In [ ]:
#indexing
# Accessing tuple elements using indexing
my_tuple = ('p','e','r','m','i','t')

print(my_tuple[0])   # 'p' 
print(my_tuple[5])   # 't'

# IndexError: list index out of range
 print(my_tuple[6])

# Index must be an integer
# TypeError: list indices must be integers, not float
my_tuple[2.0]

# nested tuple
n_tuple = ("mouse", [8, 4, 6], (1, 2, 3))

# nested index
print(n_tuple[0][3])       # 's'
print(n_tuple[1][1])       # 4

In [ ]:
#negative indexing
# Negative indexing for accessing tuple elements
my_tuple = ('p', 'e', 'r', 'm', 'i', 't')

# Output: 't'
print(my_tuple[-1])

# Output: 'p'
print(my_tuple[-6])

In [ ]:
#slicing
# Accessing tuple elements using slicing
my_tuple = ('p','r','e','m','a','n','a','n','d')
print(my_tuple)

# elements 2nd to 4th
print(my_tuple[1:4])

# elements beginning to 2nd
print(my_tuple[:-7])

# elements 8th to end
print(my_tuple[7:])

# elements beginning to end
print(my_tuple[:])

In [ ]:
#Can we able to change the tuple value
# Changing tuple values
my_tuple = (4, 2, 3, [6, 5])

# TypeError: 'tuple' object does not support item assignment
my_tuple[1] = 9

In [ ]:
# However, item of mutable element can be changed
my_tuple[3][0] = 9    
print(my_tuple)

In [ ]:
# Tuples can be reassigned
my_tuple = ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')
print(my_tuple)

In [ ]:
# Concatenation
print((1, 2, 3) + (4, 5, 6))

# Repeat
print(("Repeat",) * 3)

In [ ]:
#deleting tuple
# Deleting tuples
my_tuple = ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')
print(my_tuple)

# can't delete items
# TypeError: 'tuple' object doesn't support item deletion
del my_tuple[3]

In [ ]:
# Can delete an entire tuple
del my_tuple

# NameError: name 'my_tuple' is not defined
print(my_tuple)

# SET

In [ ]:
# Different types of sets in Python
# set of integers
my_set = {16, 20, 26, 8}
print(my_set)

# set of mixed datatypes
my_set = {4, "SPNK", (16, 26, 8)}
print(my_set)

In [ ]:
# set cannot have duplicates
my_set = {1, 2, 3, 4, 3, 2}
print(my_set)

# we can make set from a list
my_set = set([1, 2, 3, 2])
print(my_set)

# set cannot have mutable items
# here [3, 4] is a mutable list
# this will cause an error.

my_set = {1, 2, [3, 4]}

In [ ]:
# Distinguish set and dictionary while creating empty set

# initialize a with {}
a = {}

# check data type of a
print(type(a))

# initialize a with set()
a = set()

# check data type of a
print(type(a))

In [ ]:
# initialize my_set
my_set = {1, 3}
print(my_set)

my_set[0]
# if you uncomment the above line
# you will get an error
# TypeError: 'set' object does not support indexing

In [ ]:
# add an element
my_set.add(2)
print(my_set)

# add multiple elements
my_set.update([2, 3, 4])
print(my_set)

# add list and set
my_set.update([4, 5], {1, 6, 8})
print(my_set)

In [ ]:
# Difference between discard() and remove()

# initialize my_set
my_set = {1, 3, 4, 5, 6}
print(my_set)

# discard an element
# Output: {1, 3, 5, 6}
my_set.discard(4)
print(my_set)

# remove an element
# Output: {1, 3, 5}
my_set.remove(6)
print(my_set)

# discard an element
# not present in my_set
# Output: {1, 3, 5}
my_set.discard(2)
print(my_set)

# remove an element
# not present in my_set
# you will get an error.
# Output: KeyError

my_set.remove(2)

In [ ]:
# initialize my_set
# Output: set of unique elements
my_set = set("HelloWorld")
print(my_set)

# pop another element
my_set.pop()
print(my_set)

# clear my_set
# Output: set()
my_set.clear()
print(my_set)

In [ ]:
#union operations
# Set union method
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use | operator
# Output: {1, 2, 3, 4, 5, 6, 7, 8}
print(A | B)

In [ ]:
# use union function
A.union(B)
{1, 2, 3, 4, 5, 6, 7, 8}

# use union function on B
B.union(A)
{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
#intersection
# Intersection of sets
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use & operator
# Output: {4, 5}
print(A & B)

In [ ]:
A.intersection(B)
B.intersection(A)

In [ ]:
# Difference of two sets
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use - operator on A
# Output: {1, 2, 3}
print(A - B)

In [ ]:
A.difference(B)

In [ ]:
 B - A

In [ ]:
B.difference(A)

In [ ]:
# Symmetric difference of two sets
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use ^ operator
# Output: {1, 2, 3, 6, 7, 8}
print(A ^ B)

In [ ]:
A.symmetric_difference(B)

In [ ]:
B.symmetric_difference(A)

# Dictionary

In [ ]:
d = {1:'value','key':2}

In [ ]:
d

In [ ]:
type(d)

In [ ]:
# empty dictionary
my_dict = {}
print(my_dict)

# dictionary with integer keys
my_dict = {1: 'apple', 2: 'ball'}
print(my_dict)

# dictionary with mixed keys
my_dict = {'name': 'John', 1: [2, 4, 3]}
print(my_dict)

# using dict()
my_dict = dict({1:'apple', 2:'ball'})
print(my_dict)

# from sequence having each item as a pair
my_dict = dict([(1,'apple'), (2,'ball')])
print(my_dict)

In [ ]:
d = {1:'value','key':2}
print(type(d))

print("d[1] = ", d[1])

print("d['key'] = ", d['key'])

# Generates error
print("d[2] = ", d[2])

In [ ]:
# get vs [] for retrieving elements
my_dict = {'name': 'Jack', 'age': 26}

# Output: Jack
print(my_dict['name'])

# Output: 26
print(my_dict.get('age'))

# Trying to access keys which doesn't exist throws error
# Output None
print(my_dict.get('address'))

# KeyError
print(my_dict['address'])

In [ ]:
# Changing and adding Dictionary Elements
my_dict = {'name': 'Jack', 'age': 26}

# update value
my_dict['age'] = 27

#Output: {'age': 27, 'name': 'Jack'}
print(my_dict)

# add item
my_dict['address'] = 'Downtown'

# Output: {'address': 'Downtown', 'age': 27, 'name': 'Jack'}
print(my_dict)

In [ ]:
# Removing elements from a dictionary

# create a dictionary
squares = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

# remove a particular item, returns its value
# Output: 16
print(squares.pop(4))

# Output: {1: 1, 2: 4, 3: 9, 5: 25}
print(squares)

# remove an arbitrary item, return (key,value)
# Output: (5, 25)
print(squares.popitem())

# Output: {1: 1, 2: 4, 3: 9}
print(squares)

# remove all items
squares.clear()

# Output: {}
print(squares)

# delete the dictionary itself
del squares

# Throws Error
print(squares)