### Write a Python program that takes a number as input and determines if it's even or odd using conditional statements.

In [3]:
# Input a number from the user
num = int(input("Enter a number: "))

# Check if the number is even or odd
if num % 2 == 0:
    print(f"{num} is an even number.")
else:
    print(f"{num} is an odd number.")

Enter a number: -4
-4 is an even number.

### Create a program that checks if a given year is a leap year or not using if-else statements.

In [6]:
# Input a year from the user
year = int(input("Enter a year: "))

# Check if the year is a leap year
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

Enter a year: 1996
1996 is a leap year.

### Write a Python program that takes a student's score as input and assigns a letter grade (A, B, C, D, or F) based on the score using if-elif-else statements.

In [8]:
# Input the student's score
score = int(input("Enter the student's score: "))

# Determine the letter grade based on the score
if score >= 90:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
elif score >= 60:
    grade = 'D'
else:
    grade = 'F'

# Display the letter grade
print(f"The student's grade is: {grade}")

Enter the student's score: 90
The student's grade is: A

### Use a while loop to print the first 10 natural numbers

In [9]:
# Initialize a counter
n = 1

# Use a while loop to print the first 10 natural numbers
while n <= 10:
    print(n)
    n += 1

1
2
3
4
5
6
7
8
9
10

### Write a Python program that calculates the factorial of a given number using a for loop.

---

In [11]:
# Input a number from the user
n = int(input("Enter a number: "))

# Initialize the result variable to 1
factorial = 1

# Calculate the factorial using a for loop
for i in range(1, n + 1):
    factorial *= i

# Display the factorial
print(f"The factorial of {n} is {factorial}")

Enter a number: 2
The factorial of 2 is 2

### Implement a program that prints all the prime numbers between 1 and 100 using nested loops and the break statement.

In [14]:
# Iterate through numbers from 2 to 100
# Prime numbers are defined as positive integers greater than 1 that have no divisors other than 1 and themselves.
#Therefore, by definition, prime numbers start from 2 because 1 is not considered a prime number.
#If we included 1 in the list of prime numbers, it would not meet the criteria of having exactly two distinct divisors (1 and itself).
for num in range(2, 101):
    is_prime = True  # Assume the number is prime initially

    # Check if num is divisible by any number from 2 to the square root of num
    for divisor in range(2, int(num ** 0.5) + 1):
        if num % divisor == 0:
            is_prime = False  # If it's divisible, it's not prime
            break  # Exit the loop early

    # If is_prime is still True, the number is prime
    if is_prime:
        print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

### Create a list of numbers and write a program to find the sum and average of the elements in the list.

In [15]:
# Create a list of numbers
numbers = [10, 20, 30, 40, 50]

# Calculate the sum of the elements
total = sum(numbers)

# Calculate the average
average = total / len(numbers)

# Display the sum and average
print(f"Sum of the numbers: {total}")
print(f"Average of the numbers: {average}")

Sum of the numbers: 150
Average of the numbers: 30.0

### Given a tuple of names, write a program that finds and prints the longest name in the tuple.

In [17]:
# Define a tuple of names
names_tuple = ("Chirag Jamariya", "Shreya Ranjitha", "Abipray Khare", "Christina Grace", "Kodali Rohith Manikanta Naga Sri Sai", "Prajan")

# Initialize a variable to store the longest name
longest_name = ""

# Iterate through the names in the tuple
for name in names_tuple:
    if len(name) > len(longest_name):
        longest_name = name

# Print the longest name
print(f"The longest name in the tuple is: {longest_name}")

The longest name in the tuple is: Kodali Rohith Manikanta Naga Sri Sai

### Create a list of words, and write a Python program to reverse the order of the words in the list.

In [18]:
# Create a list of words
word_list = ["Hello", "world", "Python", "is", "fun"]

# Reverse the order of the words in the list
reversed_list = word_list[::-1]

# Display the reversed list
print("Original list of words:", word_list)
print("Reversed list of words:", reversed_list)

Original list of words: ['Hello', 'world', 'Python', 'is', 'fun']
Reversed list of words: ['fun', 'is', 'Python', 'world', 'Hello']

### Create a dictionary with student names and their corresponding scores. Write a program to find the student with the highest score.

In [20]:
# Create a dictionary with student names and scores
student_scores = {
    "Ram": 95,
    "Sita": 87,
    "Hanuman": 92,
    "Krishnar": 78,
    "God": 99
}

# Find the student with the highest score
highest_score_student = max(student_scores, key=student_scores.get)
highest_score = student_scores[highest_score_student]

# Display the student with the highest score and their score
print(f"The student with the highest score is {highest_score_student} with a score of {highest_score}.")

The student with the highest score is God with a score of 99.

### Implement a program that takes a sentence as input and counts the frequency of each word using a dictionary.

In [21]:
# Input a sentence from the user
# Education is not merely the acquisition of facts and figures, but a lifelong journey of self-discovery, personal growth, and empowerment.
# It empowers us to become critical thinkers, compassionate individuals, and responsible citizens.
# Knowledge is the bridge that connects the past, the present, and the future, allowing us to stand on the shoulders of giants while reaching for the stars

sentence = input("Enter a sentence: ")

# Convert the sentence to lowercase and split it into words
words = sentence.lower().split()

# Initialize a dictionary to store word frequencies
word_frequencies = {}

# Count the frequency of each word
for word in words:
    if word in word_frequencies:
        word_frequencies[word] += 1
    else:
        word_frequencies[word] = 1

# Display the word frequencies
print("Word frequencies in the sentence:")
for word, frequency in word_frequencies.items():
    print(f"{word}: {frequency}")

Enter a sentence: Education is not merely the acquisition of facts and figures, but a lifelong journey of self-discovery, personal growth, and empowerment. It empowers us to become critical thinkers, compassionate individuals, and responsible citizens. Knowledge is the bridge that connects the past, the present, and the future, allowing us to stand on the shoulders of giants while reaching for the stars
Word frequencies in the sentence:
education: 1
is: 2
not: 1
merely: 1
the: 7
acquisition: 1
of: 3
facts: 1
and: 4
figures,: 1
but: 1
a: 1
lifelong: 1
journey: 1
self-discovery,: 1
personal: 1
growth,: 1
empowerment.: 1
it: 1
empowers: 1
us: 2
to: 2
become: 1
critical: 1
thinkers,: 1
compassionate: 1
individuals,: 1
responsible: 1
citizens.: 1
knowledge: 1
bridge: 1
that: 1
connects: 1
past,: 1
present,: 1
future,: 1
allowing: 1
stand: 1
on: 1
shoulders: 1
giants: 1
while: 1
reaching: 1
for: 1
stars: 1

### Write a program to merge two dictionaries into one

In [22]:
# Define two dictionaries
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}

# Create a copy of the first dictionary
merged_dict = dict1.copy()

# Update the copy with the second dictionary
merged_dict.update(dict2)

# Display the merged dictionary
print("Merged Dictionary (using the update() method):", merged_dict)

Merged Dictionary (using the update() method): {'a': 1, 'b': 3, 'c': 4}

### Create two sets of integers and write a program to find their intersection and union.

In [23]:
# Create two sets of integers
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Find and display the intersection of the sets
intersection = set1.intersection(set2)
print("Intersection of set1 and set2:", intersection)

# Find and display the union of the sets
union = set1.union(set2)
print("Union of set1 and set2:", union)

Intersection of set1 and set2: {3, 4, 5}
Union of set1 and set2: {1, 2, 3, 4, 5, 6, 7}

### Given a list of numbers, create a set of unique numbers from the list.

In [24]:
# Create a list of numbers (some of which are not unique)
numbers = [1, 2, 2, 3, 4, 4, 5, 6, 6]

# Use the set constructor to create a set of unique numbers
unique_numbers = set(numbers)

# Convert the set back to a list (if needed)
unique_numbers_list = list(unique_numbers)

# Display the set of unique numbers and the list of unique numbers
print("Set of unique numbers:", unique_numbers)
print("List of unique numbers:", unique_numbers_list)

Set of unique numbers: {1, 2, 3, 4, 5, 6}
List of unique numbers: [1, 2, 3, 4, 5, 6]

### Write a program to check if one set is a subset of another set.

In [25]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {2, 4, 5}

# Check if set2 is a subset of set1 using issubset() method
is_subset_method = set2.issubset(set1)

# Check if set2 is a subset of set1 using <= operator
is_subset_operator = set2 <= set1

# Display the results
print("Set2 is a subset of set1 using issubset():", is_subset_method)
print("Set2 is a subset of set1 using <= operator:", is_subset_operator)

Set2 is a subset of set1 using issubset(): True
Set2 is a subset of set1 using <= operator: True

### Implement a program that checks if a given string is a palindrome (reads the same forwards and backwards).

In [27]:
# Input a string from the user
string = input("Enter a string: ")

# Remove spaces and convert the string to lowercase for case-insensitive comparison
string = string.replace(" ", "").lower()

# Reverse the string
reverse_string = string[::-1]

# Check if the string is a palindrome
if string == reverse_string:
    print("The string is a palindrome.")
else:
    print("The string is not a palindrome.")

Enter a string: Madam
The string is a palindrome.

### Write a program that takes a list of email addresses and uses regular expressions to validate them.

In [33]:
import re

# Define the regular expression pattern for a simple email validation
pattern = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'

# List of email addresses to validate
email_list = [
    "premanand.s@vit.ac.in",
    "premanand.s@aaaa",
    "another.user@subdomain.example.co.uk",
    "er.anandprem@gmail.com",
    "premanand.s@1234.com"
]

# Iterate through each email address in the list
for email in email_list:
    if re.match(pattern, email):
        print(f"{email} is a valid email address.")
    else:
        print(f"{email} is not a valid email address.")

premanand.s@vit.ac.in is a valid email address.
premanand.s@aaaa is not a valid email address.
another.user@subdomain.example.co.uk is a valid email address.
er.anandprem@gmail.com is a valid email address.
premanand.s@1234.com is a valid email address.

### Create a program that extracts all Indian phone numbers from a given text using regular expressions.

In [43]:
import re

# Sample text containing phone numbers
text = """
Here are some Indian mobile numbers:
+91 9876543210
+91 9988776655
9876543210123456
123 4567890
+91 6358679961
+91 5358679961
"""

# Define a regular expression pattern to match Indian mobile numbers
pattern = r'\+91[ -]?[6789]\d{9}\b|\b[789]\d{9}\b'

# Find and extract Indian mobile numbers from the text
mobile_numbers = re.findall(pattern, text)

# Display the extracted mobile numbers
print("Indian mobile numbers found in the text:")
for number in mobile_numbers:
    print(number)

Indian mobile numbers found in the text:
+91 9876543210
+91 9988776655
+91 6358679961