In [ ]:
#right half pattern
rows = 5

for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
#right half pattern
rows = 5

for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
# left half pattern
rows = 5

for i in range(1, rows + 1):
    for j in range(1, rows - i + 1):
        print(" ", end=" ")
    for j in range(1, i + 1):
        print("*", end=" ")
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [ ]:
# left half pattern
rows = 5

for i in range(1, rows + 1):
    for j in range(1, rows - i + 1):
        print(" ", end=" ")
    for j in range(1, i + 1):
        print(j, end=" ")
    print()

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [ ]:
# full pyramid *
rows = 5

for i in range(1, rows + 1):
    # Print leading spaces
    for j in range(1, rows - i + 1):
        print(" ", end=" ")

    # Print asterisks
    for j in range(1, 2 * i):
        print("*", end=" ")

    # Move to the next line for the next row
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [ ]:
# full pyramid *
rows = 5

for i in range(1, rows + 1):
    # Print leading spaces
    for j in range(1, rows - i + 1):
        print(" ", end=" ")

    # Print asterisks
    for j in range(1, 2 * i):
        print(j, end=" ")

    # Move to the next line for the next row
    print()

        1
      1 2 3
    1 2 3 4 5
  1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9

In [ ]:
#inverse left pyramid *
rows = 5

for i in range(rows, 0, -1):
    for j in range(i, 0, -1):
        print("*", end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [ ]:
#inverse left pyramid *
rows = 5

for i in range(rows, 0, -1):
    for j in range(i, 0, -1):
        print(j, end=" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
#inverse right pattern
rows = 5

for i in range(1, rows + 1):
    for j in range(1, i):
        print(" ", end=" ")
    for j in range(i, rows + 1):
        print("*", end=" ")
    print()

* * * * *
  * * * *
    * * *
      * *
        *

In [ ]:
#inverse right pattern
rows = 5

for i in range(1, rows + 1):
    for j in range(1, i):
        print(" ", end=" ")
    for j in range(i, rows + 1):
        print(j, end=" ")
    print()

1 2 3 4 5
  2 3 4 5
    3 4 5
      4 5
        5

In [ ]:
# inverse full *
rows = 5

for i in range(rows, 0, -1):
    for j in range(rows - i):
        print(" ", end=" ")
    for j in range(1, 2 * i):
        print("*", end=" ")
    print()

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [ ]:
# inverse full
rows = 5

for i in range(rows, 0, -1):
    for j in range(rows - i):
        print(" ", end=" ")
    for j in range(1, 2 * i):
        print(j, end=" ")
    print()

1 2 3 4 5 6 7 8 9
  1 2 3 4 5 6 7
    1 2 3 4 5
      1 2 3
        1